/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.prolific-block-carousel {
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50px;
  cursor: pointer;
  z-index: 1;

  svg {
    width: 100%;
    height: auto;
  }
}

.custom-prev {
  left: 0;
}

.custom-next {
  right: 0;
}

// swiper-container {
//   width: 100%;
//   height: 300px;
// }

// swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// swiper-slide {
//   figure,
//   img {
//     display: block;
//     width: 100% !important;
//     height: 100% !important;
//     object-fit: cover;
//     margin: 0;
//   }
// }
