/**
 * Frontend styles for Lottie block.
 */

.wp-block-prolific-lottie-js {
	// Container for the lottie animation
	.lottie-container {
		position: relative;
		overflow: hidden;
	}

	// Canvas element
	canvas.lottie-canvas {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}
